// style for technology page //

.body-technology{
    background-image: url("../assets/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-main-technology{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    margin-top: 70px;
    .title-techology{
        max-width:900px;
        font-size: 28px;
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        font-weight: 400;
        margin-left:50px;
        .number-h5-technology{
            font-size: 28px;
            font-weight: 700;
            color: rgba(255, 255, 255, 0.384);
        }
    }
    .container-content-technology{
        display:flex;
        flex-direction:row;
        align-items:center;
        max-width: 1440px;
        width: 100%;
        margin-right:0;
        .switch-numbers{
            display:flex;
            flex-direction:column;
            gap: 40px;
            padding: 50px;
        }
        .container-info-page{
            display:flex;
            flex-direction:column;
            justify-content: flex-start;
            max-width:480px;
            padding-right: 250px;
            .title-h6{
                font-size:16px;
                color:#D0D6F9;
                font-weight:400; 
                letter-spacing: 2.7px;
            }
            .title-lauch-vehicle{
                font-size: 56px;
                color: #fff;
                font-weight: 400;
            }
            .text-infos{
                font-size:18px;
                font-weight: 400;
                color:#D0D6F9;
                line-height: 32px;
            }
        }
    }
}

